.elements {
  padding-top: 50px;
  max-width: 882px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
  justify-items: center;
  gap: 20px 17px;
}

@media screen and (min-width: 620px) and (max-width: 920px) {
  .elements {
    padding: 35px 19px 0;
    grid-template-columns: repeat(2, 282px);
    justify-content: center;
  }
}

@media screen and (max-width: 619px) {
  .elements {
    padding: 35px 19px 0;
    grid-template-columns: 1fr;
  }
}
