.popup__button-submit {
  margin-top: 50px;
  background-color: #000;
  width: 100%;
  height: 50px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
}

.popup__button-submit:hover {
  opacity: 0.8;
}

@media screen and (max-width: 560px) {
  .popup__button-submit {
    margin-top: 46px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
