.header__authorization {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 560px) {
  .header__authorization {
    background-image: url(../../../images/lines.png);
    width: 24px;
    height: 24px;
    flex-direction: column;
    margin: 0 30px 0;
    cursor: pointer;
  }
}
